resource_group_name = "your rg name"
location            = "enter location"

vnet_name           = "enter your vnet name"
vnet_cidr           = "cidr"
subnet_name         = "enter subnet name"
subnet_cidr         = "subnet cdr"
nsg_name            = "nsg name"
public_ip_name      = "enter public ip name"
nic_name            = "enter nic name"
vm_name             = "your vm name"
vm_size             = "Standard_B1s"
vm_username         = "enter your vm username"
ssh_public_key      = "ssh-rsa fd8s7FF4Kr...." 
